<h3>Prescription</h3>

<div class="container">

<div class="card p-0 shadow">
  <div class="card-body p-0">
    <div class="d-flex">
      <div class="p-3 d-flex flex-column">
        <div class="name-title">Prescription</div>
        <div class="small font-weight-bold">Id: 56456</div>
        <div class="small font-weight-bold mt-auto" >
          Date: Nov 25, 2020
        </div>
      </div>
      <div class="d-flex justify-content-between flex-grow-1 bg-gray-100" style="border-bottom-left-radius: 50px;">
        <div class="d-flex p-3">
          <h5 class="name-title">Patient</h5>
          <div class="bg-gray-300 mx-2" style="width: 4px; border-radius: 2px;"></div>
          <div class="d-flex">
            <div>
              <div class="avatar-preview align-self-center" style="width: 50px; height: 50px;">
                <div id="imagePreview"
                class="avatar-preview-inner-div"
                style="background-image: url('https://images.unsplash.com/photo-1582804905556-0605e6433015?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');" #imagePreview>
                </div>
              </div>
            </div>
            <div class="ml-2 d-flex flex-column">
              <div class="name-title">Shakir Ahmed</div>
              <div class="small font-weight-bold">Age: 28</div>
              <div class="small font-weight-bold">Sex: female</div>
            </div>
          </div>
        </div>
        <div class="text-light p-3 d-flex bg-primary" style="border-bottom-left-radius: 50px;">
          <h5 class="name-title">Doctor</h5>
          <div class="bg-light mx-2" style="width: 4px; border-radius: 2px;"></div>
          <div class="d-flex">
            <div>
              <div class="avatar-preview align-self-center" style="width: 50px; height: 50px;">
                <div id="imagePreview"
                class="avatar-preview-inner-div"
                style="background-image: url('https://images.unsplash.com/photo-1582804905556-0605e6433015?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');" #imagePreview>
                </div>
              </div>
            </div>
            <div class="ml-2 d-flex flex-column">
              <div class="name-title">Dr. Samual Paty</div>
              <div class="small font-weight-bold">Physian Specialist</div>
              <div class="small font-weight-bold">FFG. GGT, GGTYOP</div>
              <div class="small mt-auto font-weight-bold">Mob: 01670074271</div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
  </div>


  <div class="d-flex mt-2">
    <div class="d-flex flex-column" style="max-width: 300px;">
      <div class="card shadow">
        <div class=" card-header bg-light-gray d-flex">
          <div><i class="text-primary fad fa-lungs-virus"></i></div>
          <div class="name-title ml-3">Complains</div>
        </div>
        <div class="p-0 card-body">
          <div class="d-flex m-2 flex-column">
           <div class="d-flex align-items-center">
            <div class="my-1 d-flex">
              <div class="my-1 bg-gray-300" style="min-width:5px; border-radius: 2px;"></div>
              <div class="mx-2 d-flex flex-column">
                <div class="name-title">Fever</div>
                <div class="small">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</div>
              </div>
            </div>
            <a class="text-danger d-print-none"><i class="fad fa-trash"></i></a>
           </div>

           <div class="d-flex align-items-center">
            <div class="my-1 d-flex">
              <div class="my-1 bg-gray-300" style="min-width: 5px; border-radius: 2px;"></div>
              <div class="mx-2 d-flex flex-column">
                <div class="name-title">Fever</div>
                <div class="small">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</div>
              </div>
            </div>
            <a class="text-danger d-print-none"><i class="fad fa-trash"></i></a>
           </div>
          </div>
          <div class="d-flex">
            <button class="btn d-print-none btn-sm flex-fill btn-primary">
              <div class="d-flex justify-content-center">
                <div><i class="far fa-plus"></i></div>
                <div class="ml-2">Add More</div>
              </div>
            </button>
          </div>

        </div>

      </div>


      <div class="card mt-2 shadow">
        <div class=" card-header bg-light-gray d-flex">
          <div><i class="fad fa-stethoscope text-primary"></i></div>
          <div class="name-title ml-3">Examination</div>
        </div>
        <div class="p-0 card-body">
          <div class="d-flex m-2 flex-column">
           <div class="d-flex align-items-center">
            <div class="my-1 d-flex">
              <div class="my-1 bg-gray-300" style="min-width: 5px; border-radius: 2px;"></div>
              <div class="mx-2 d-flex flex-column">
                <div class="name-title">Fever</div>
                <div class="small">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</div>
              </div>
            </div>
            <a class="d-print-none text-danger"><i class="fad fa-trash"></i></a>
           </div>

           <div class="d-flex align-items-center">
            <div class="my-1 d-flex">
              <div class="my-1 bg-gray-300" style="min-width: 5px; border-radius: 2px;"></div>
              <div class="mx-2 d-flex flex-column">
                <div class="name-title">Fever</div>
                <div class="small">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</div>
              </div>
            </div>
            <a class=" d-print-none text-danger"><i class="fad fa-trash"></i></a>
           </div>
          </div>
          <div class="d-flex">
            <button class="btn d-print-none btn-sm flex-fill btn-primary">
              <div class="d-flex justify-content-center">
                <div><i class="far fa-plus"></i></div>
                <div class="ml-2">Add More</div>
              </div>
            </button>
          </div>

        </div>

      </div>



      <div class="card mt-2 shadow">
        <div class=" card-header bg-light-gray d-flex">
          <div><i class="fad fa-vial text-primary"></i></div>
          <div class="name-title ml-3">Investigation(Lab Test)</div>
        </div>
        <div class="p-0 card-body">
          <div class="d-flex m-2 flex-column">
           <div class="d-flex align-items-center">
            <div class="my-1 d-flex">
              <div class="my-1 bg-gray-300" style="min-width: 5px; border-radius: 2px;"></div>
              <div class="mx-2 d-flex flex-column">
                <div class="name-title">Fever</div>
                <div class="small">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</div>
              </div>
            </div>
            <a class="d-print-none text-danger"><i class="fad fa-trash"></i></a>
           </div>

           <div class="d-flex align-items-center">
            <div class="my-1 d-flex">
              <div class="my-1 bg-gray-300" style="min-width: 5px; border-radius: 2px;"></div>
              <div class="mx-2 d-flex flex-column">
                <div class="name-title">Fever</div>
                <div class="small">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</div>
              </div>
            </div>
            <a class=" d-print-none text-danger"><i class="fad fa-trash"></i></a>
           </div>
          </div>
          <div class="d-flex">
            <button class="btn d-print-none btn-sm flex-fill btn-primary">
              <div class="d-flex justify-content-center">
                <div><i class="far fa-plus"></i></div>
                <div class="ml-2">Add More</div>
              </div>
            </button>
          </div>

        </div>

      </div>


    </div>


    <div class="ml-2 d-flex flex-column">
      <div class="card shadow">
        <div class="card-header d-flex">
          <div><i class="fad fa-pills text-primary"></i></div>
          <div class="name-title ml-3">Medicines</div>
        </div>
        <div class="card-body">
          <div class="d-flex flex-column">
            <div class="d-flex my-2">
              <div class="align-self-center font-weight-bold">1</div>
              <div class="bg-gray-300 my-1 mx-3" style="width: 5px; border-radius: 2px;"></div>
              <div class="d-flex flex-column">
                <div class="name-title">Napa</div>
                <div class="small font-weight-bold">2 + 0 + 2</div>
                <div class="small font-weight-bold">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</div>
              </div>
              <a  class="text-danger d-print-none align-self-center"><i class="fad fa-trash"></i></a>
            </div>
            <div class="d-flex my-2">
              <div class="align-self-center font-weight-bold">2</div>
              <div class="bg-gray-300 my-1 mx-3" style="width: 5px; border-radius: 2px;"></div>
              <div class="d-flex flex-column">
                <div class="name-title">Napa</div>
                <div class="small font-weight-bold">2 + 0 + 2</div>
                <div class="small font-weight-bold">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</div>
              </div>
              <a class="text-danger d-print-none align-self-center"><i class="fad fa-trash"></i></a>
            </div>
            <div class="">
              <button (click)="onAddMedicineBtnClicked($event)"
               class="btn d-print-none shadow btn-primary ml-3 btn-circle"><i class="far fa-plus"></i></button>
            </div>
          </div>
        </div>
      </div>




      <div class="card mt-2 shadow">
        <div class="card-header d-flex">
          <div><i class="fad fa-notes-medical text-primary"></i></div>
          <div class="name-title ml-3">Notes</div>
        </div>
        <div class="card-body">
          <div class="d-flex flex-column">
            <div class="d-flex my-2">
              <div class="align-self-center font-weight-bold">1</div>
              <div class="bg-gray-300 my-1 mx-3" style="width: 5px; border-radius: 2px;"></div>
              <div class="d-flex flex-column">
                <div class="name-title">Napa</div>
                <div class="small font-weight-bold">2 + 0 + 2</div>
                <div class="small font-weight-bold">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</div>
              </div>
              <a class="text-danger d-print-none align-self-center"><i class="fad fa-trash"></i></a>
            </div>
            <div class="d-flex my-2">
              <div class="align-self-center font-weight-bold">2</div>
              <div class="bg-gray-300 my-1 mx-3" style="width: 5px; border-radius: 2px;"></div>
              <div class="d-flex flex-column">
                <div class="name-title">Napa</div>
                <div class="small font-weight-bold">2 + 0 + 2</div>
                <div class="small font-weight-bold">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</div>
              </div>
              <a class="text-danger d-print-none align-self-center"><i class="fad fa-trash"></i></a>
            </div>
            <div class="">
              <button class="btn d-print-none shadow btn-primary ml-3 btn-circle"><i class="far fa-plus"></i></button>
            </div>
          </div>
        </div>
      </div>




    </div>
  </div>
</div>




<app-medicine-modal #medicineModalComponent></app-medicine-modal>






