<div class=" container">
  <button class=" btn btn-primary">SHAKIR</button>


  <div class="mt-5 timeline-item border-complete">
    <div class="d-flex" style="margin-left: -15px;">
      <div class="ball d-flex align-items-center justify-content-center fill-green border-green">
        <i class="far text-white fa-check"></i>
      </div>
      <div class="ms-3 pb-4">
        <h5>This is completed</h5>
        <p>October 2022 - February 2023 <br> Summer engagement</p>
      </div>
    </div>
  </div>

  <div class=" timeline-item border-none">
    <div class="d-flex" style="margin-left: -15px;">
      <div class="ball bg-white"></div>
      <div class="ms-3 pb-4">
        <h5>This is completed</h5>
        <p>orem Ipsum is simply dummy text of the printing and typesetting industry.
          <br> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          <br> when an unknown printer took a galley of type and scrambled it
        </p>
      </div>
    </div>
  </div>
  <div class="timeline-item border-white">
    <div class="d-flex" style="margin-left: -15px;">
      <div class="ball bg-white"></div>
      <div class="ms-3 pb-4">
        <h5>This is completed</h5>
        <p>October 2022 - February 2023 <br> Summer engagement</p>
      </div>
    </div>
  </div>

</div>
